.create-kicker-button {
  box-shadow: 2px 2px 2px #d1d1d1;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -80px;
  z-index: 1001;
}

.create-kicker-menu {
  z-index: 1001;
}

.MuiButton-label-80 {
  font-weight: 400;
}
