.root {
  position: fixed;
}

/* .MuiTypography-root-44.MuiTypography-h6-61.MuiTypography-colorInherit-73.NavBarHome-grow-299 {
  font-size: 500%;
  text-align: center;
} */

.grow {
  font-size: 500%;
  text-align: center;
}