.project-overview {
  height: 100%;
}

.create-obstacles-container, .layout-right {
  margin: 0.5em;
}

.park-view-container {
  margin: 0.5em 0 0.5em 0.5em;
}
.project-overview-container {
  display: flex;
  height: 90%;
  padding-top: 4em;
  padding-bottom: 5em;
}

.layout-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 65%;
}

.layout-right {
  height: 100%;
  width: 35%;
}

.park-view-container {
  background-color: gray;
  border-radius: 5px;
  height: 100%;
}

.create-obstacles-container {
  height: 5%;
}

