.obstacle {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0.2em;
  padding-left: 0.5em;
}

.obstacle-title:hover {
  cursor: pointer;
  color: #139100;
}

.obstacle h4, .obstacle h6 {
  margin: 0.5em 0;
  font-weight: 300;
}

.obstacle-details-key {
  font-weight: 400;
}

.obstacle-details-value {
  float: right;
  font-weight: 200;
  margin-left: 2em;
}

.obstacle-details-list {
  margin-top: 2em;
}