#mapid {
  border-radius: 5px;
  height: 100%;
  width: auto;
}

.leaflet-popup {
  padding: 0;
  text-align: center;
}

.leaflet-popup-content {
  font-weight: 700;
  margin: 1em 0;
  text-align: center;
}