.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../assets/images/sunsetjump.jpg');
  font-size: 60%;
  height: 100%;
  padding-top: 5em;
  text-align: center;
}

.home-attribution {
  bottom: 0;
  right: 10px;
  position: absolute;
}

