.obstacles-list {
  list-style-type: none;
  padding: 0;
}

.park-details-title {
  background-color: #139100;
  border: 1px solid #139100;
  border-radius: 5px;
  color: #ffffff;
  line-height: 3em;
  margin: 0 2px 2px 2px;
  padding-top: 0;
  padding-left: 5%;
}

.park-details-title h3 {
  font-size: 2em;
  font-weight: 400;
  margin-top: 0.15em;
  margin-bottom: 0;
}